.chat-client-info {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #dfdfdf;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: auto;
}
